.hidden {
    display: none;
}

.mqttArea {
    margin: 10px 0px;
    width: 100%;
}

.mqttInput {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-evenly;
    margin: 10px 0px;
    width: 100%;
}

.mqttOutput {
    display: flex;
    height: 200px;
    justify-content: space-evenly;
    width: 100%;
}

.msgbox {
    width: 35%;
}

.outgoingInput {
    margin: 0px auto;
    width: 50%;
}

textarea {
    margin: 10px 0px;
    width: 100%;
}